[phases.setup]
nixPkgs = ["python39", "gcc", "cmake"]

[phases.install]
cmds = ["pip install --no-cache-dir -r requirements.txt"]

[phases.build]
cmds = []

[start]
cmd = "python eye_tracking_service.py"
